<%= form_for([@apartment, @booking], :url =>  user_booking_path(current_user.id, @booking.id)) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apartment_review %><br>
    <%= f.text_area :apartment_review %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

