<h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
<p>Mon adresse email : <%= current_user.email %></p>
<br/>
<h3>Description</h3>
<p><%= current_user.description %> </p>
<% if @user.picture == nil %>
<p> <img src="http://www.clker.com/cliparts/L/5/v/9/Z/I/user-icon.svg"> </p>
<% else %>
<p><%= image_tag @user.picture.url(:medium) %></p>
<% end %>