<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p>Mon adresse email : <%= @user.email %></p>
<br/>
<h3>Description</h3>
<p><%= @user.description %> </p>
<p><%= image_tag @user.picture.url(:medium) %></p>

