<%= form_tag(apartments_path, :method => "get", id: "search-form") do  %>

  <%= text_field_tag :query, params[:query], placeholder: "Search a city" %>

  <div class="field">
    <%= label_tag :start_date %><br>
    <%= date_field_tag :start_date %>
  </div>

  <div class="field">
    <%= label_tag :end_date %><br>
    <%= date_field_tag :end_date %>
  </div>

  <div class="field">
    <label for="price_per_night">Minimum price:</label>
    <%= number_field(:apartment, :price_per_night, in: 0.0..100.0, step: 5) %>
  </div>


  <div class="field">
    <label for="price_per_night">Maximum price:</label>
    <%= number_field(:apartment, :price_per_night, in: 0.0..1000.0, step: 5) %>
  </div>


  <div class="field">
    <label for="capacity">Capacity:</label>
    <%= number_field(:apartment, :capacity, in: 1.0..16.0, step: 1) %>
  </div>


  <%= submit_tag "Search", :name => nil %>
<% end %>
