<h1>Find a place to stay:</h1>

<%= render 'shared/searchmore' %>

<div id="map" style="width: 80%; height: 600px;"></div>

<% content_for(:js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  </script>
<% end %>

<br>
<br>

<% @apartments.each do |apartment| %>
  <ul style="list-style-type:none">
  </br>
    <li><strong><%= apartment.title %></strong></li>
    <li><%= image_tag apartment.picture.url(:medium) %></li>
    <li><%= apartment.city %>, <%= apartment.country %></li>
    <li>Description: <%= apartment.description %></li>
    <li>Price Per Night: <%= apartment.price_per_night %> €</li>
    <li><%= link_to 'Show', apartment %> <%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<% end %>

<br>
